[remote "origin"]
	url = git@github.com:huangyingw/leetcode-cli.orig.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[commit]
	message = n
[branch "dev"]
    remote = origin
    merge = refs/heads/dev
[push]
    remote = origin
[gsync]
    remote = origin
    branch = master
[merge]
	allow = true
[vrun]
	silent = false
    show = true
	async = false
[deploy]
	host = localhost
	path = ~/myproject/git/interview/skygragon/leetcode-cli.orig
